input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;

  border: none;
  border-bottom: #79c3ce 3px solid;
  border-radius: 8px;

  font-family: inherit;
  font-size: 1rem;
}

select{
    cursor: pointer;
}

textarea {
  min-height: 140px;
  resize: none;
}

body.dark-mode input, 
body.dark-mode textarea,
body.dark-mode select{
  background-color: #444f6b;
  color: var(--color-texto-claro);
  border: none;
  border-bottom: #1d2436 3px solid;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield;
}

.campoFormulario {
  margin-bottom: 20px;
}

.botonEnviar {
  padding: 7px 15px;

  font-size: 1rem;
  font-family: inherit;
  box-shadow: 3px 3px 5px 0px #3670975b;

  transition: background-color 0.2s ease;
  transition: transform 0.1s ease-in-out;
}

.botonEnviar:hover {
  background: linear-gradient(to bottom, #7ec5ff, #2a8cce, #6db8e4);
  transform: rotate(-2deg);
  border-color: #0d75bb;
}

body.dark-mode .botonEnviar {
  background: linear-gradient(
    to bottom,
    var(--color-primary),
    var(--color-secondary),
    var(--color-third)
  );
  color: var(--color-texto-claro);
  border: 2px solid var(--color-boton-border);

  box-shadow: 3px 3px 5px 0px #0811275b;
}

body.dark-mode .botonEnviar:hover {
  background: linear-gradient(to bottom, #464e69, #2d3546, #394258);
  border-color: #212735;
}

.accionesFormulario {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 0px;
}

.mensajeExito {
  color: #1a9b2a;
  font-weight: bold;
  display: none;
  margin: 0;
  padding-bottom: 0px;
}
