.btnAgregarEquipo {
  padding: 7px 15px;
  font-size: 1rem;
  font-family: inherit;
  margin-bottom: 15px;

  transition:
    background-color 0.2s ease,
    transform 0.1s ease-in-out;
}

.btnAgregarEquipo:hover {
  background: linear-gradient(
    to bottom,
    var(--color-boton-hover1),
    var(--color-boton-hover2),
    var(--color-boton-hover3)
  );
  transform: rotate(-2deg);
  border-color: var(--color-boton-border);
}

li {
  list-style-type: none;
}

/* MENSAJE */
.mensaje {
  color: #1a9b2a;
  font-weight: bold;
  display: none;
  padding: 0px 0px 0px 10px;
  text-align: center;
  border-radius: 8px;
}

/* MENSAJE DE ÉXITO */

.mensaje.exito {
  color: #1a9b2a;
  animation: mensajeExito 0.4s ease;
}

body.dark-mode .mensaje.exito {
  color: #28f140;
}

/* MENSAJE DE ERROR */

.mensaje.error {
  color: #d32f2f;
  animation: mensajeError 0.45s ease;
}

body.dark-mode .mensaje.error {
  color: #ff5252;
}

/* ANIMACIÓN DE ÉXITO */

@keyframes mensajeExito {
  0% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-8px);
  }

  70% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(0);
  }
}

/* ANIMACIÓN DE ERROR */

@keyframes mensajeError {
  0% {
    transform: translateX(0);
  }

  15% {
    transform: translateX(-8px);
  }

  30% {
    transform: translateX(8px);
  }

  45% {
    transform: translateX(-7px);
  }

  60% {
    transform: translateX(7px);
  }

  75% {
    transform: translateX(-4px);
  }

  90% {
    transform: translateX(4px);
  }

  100% {
    transform: translateX(0);
  }
}

@media (max-width: 700px) {
  .preview-banner {
    min-height: 120px;
  }

  .preview-logo {
    width: 80px;
    height: 80px;
  }

  .preview-logo i {
    font-size: 22px;
  }

  .preview-info {
    padding: 5px 10px;
  }

  .preview-info h3 {
    font-size: 17px;
    margin-bottom: 8px;
  }

  .preview-info p {
    font-size: 14px;
  }
}
