body {
  padding: 20px 160px;
}

.login-page .logo {
  visibility: visible;
}

.login-body {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-right: 370px;
  margin-left: 200px;
}

/* Personaje + globo de texto */

.login-mascota {
  position: relative;
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;

  margin-right: 40px;
}

.login-globo {
  position: relative;
  width: 100%;
  margin-bottom: -16px;
  z-index: 2;

  -webkit-user-select: none;
  user-select: none;

  -webkit-user-drag: none;

  pointer-events: none;
}

.globo-img {
  width: 75%;
  height: auto;
  display: block;

  pointer-events: none;
}

.login-globo .globo-texto {
  position: absolute;
  top: 34%;
  left: 6%;

  width: 62%;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
}

body.dark-mode .globo-texto {
  color: #000000;
}

.mascota-login {
  width: 100%;
  max-width: 180px;
  height: auto;
  display: block;
}

/* Formulario */

.login-form {
  flex: 1;
  min-width: 250px;

  display: flex;
  flex-direction: column;
}

.login-acciones {
  gap: 14px;
  flex-wrap: wrap;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
}

.btn-regresar,
.btn-login {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 7px 15px;

  font-size: 1rem;
  font-family: inherit;
  text-decoration: none;

  color: var(--color-texto-claro);
  background: linear-gradient(
    to bottom,
    var(--color-primary),
    var(--color-secondary),
    var(--color-third)
  );
  border: 2px solid var(--color-boton-border);
  border-radius: 6px;

  box-shadow: 3px 3px 5px 0px #3670975b;

  transition:
    background-color 0.2s ease,
    transform 0.1s ease-in-out;
}

.btn-regresar:hover,
.btn-login:hover {
  background: linear-gradient(
    to bottom,
    var(--color-boton-hover1),
    var(--color-boton-hover2),
    var(--color-boton-hover1)
  );
  transform: rotate(-2deg);
  border-color: #0d75bb;
  cursor: pointer;
}

body.dark-mode .btn-regresar,
body.dark-mode .btn-login {
  box-shadow: 3px 3px 5px 0px #0811275b;
}

body.dark-mode .btn-regresar:hover,
body.dark-mode .btn-login:hover {
  background: linear-gradient(
    to bottom,
    var(--color-boton-hover1),
    var(--color-boton-hover2),
    var(--color-boton-hover1)
  );
  border-color: #212735;
}

.login-registro {
  padding: 0;
  display: flex;
  justify-content: center;
}

.login-registro a {
  color: var(--color-secondary);
  font-weight: 700;
  text-decoration: underline;
  padding: 0;
}

body.dark-mode .login-registro a {
  color: #90cdff;
}

@media (max-width: 431px) {
  .login-body {
    flex-direction: column;
  }

  .login-mascota {
    flex: none;
  }
}
